{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="bigregister">
        <h1 class="titreregister"> {% if app.user %} Modifier {% else %} Créer {% endif %}votre compte</h1>
            {% if app.user %}<button type="submit" class="registersupprimer">Supprimer mon compte</button> {% endif %}
            <div class="register">
                <div class="registrationForm compte">
                    {{ form_start(registrationForm) }}
                        <p class="connecregister">Information de connexion</p>
                            <div class="registermail"
                                {{ form_row(registrationForm.mail) }}
                                    </div>
                                        <div class="registermdp col-9 row-cols-2">
                                            {{ form_row(registrationForm.plainPassword) }}
                                        </div>
                                            <p class="infocontactreg">Information de contact</p>
                                        <div class="registername col-12 row-cols-2">
                                            <div class="col-6">
                                            {{ form_row(registrationForm.firstname) }}
                                            </div>
                                            <div class="col-6">
                                            {{ form_row(registrationForm.lastname) }}
                                        </div>
                                        </div>
                                        <div class="registeradress col-12">
                                            <div class="col-8">
                                                {{ form_row(registrationForm.address, {'id': 'form-address'} ) }}
                                            </div>
                                            <div class="zipregister col-12 row-cols-1">
                                                <div class="col-6 m-1">
                                                    {{ form_row(registrationForm.zipcode, {'id': 'form-zipcode'} ) }}
                                                </div>
                                                <div class="col-6 m1">
                                                    {{ form_row(registrationForm.city, {'id': 'form-city'} ) }}
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                {{ form_row(registrationForm.phone) }}
                                            </div>
                                            <div class="agreeregister">
                                                <p>Veuillez cocher la case ci-dessous pour continuer</p>
                                            {{ form_row(registrationForm.agreeTerms) }}
                                            </div>
                                        </div>

                                            <p class="registerint">Vos informations de contact resteront confidentielles
                                                , elles sont utiles pour faciliter le traitement de votre inscription
                                                auprès de l'intervenant.</p>
                                        <div class="buttonregister">
                                            <button type="submit" class="btnvalideregister">Annuler</button>
                                            <button type="submit" class="btnannuleregister">Valider</button>
                                            {{ form_end(registrationForm) }}
                                        </div>
                                        <p class="laley">Conformément à la loi « informatique et libertés » du
                                            6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et
                                            de rectification aux informations qui vous concernent, que vous pouvez
                                            exercer en nous contactant. Vous pouvez également, pour des motifs
                                            légitimes, vous opposer au traitement des données vous concernant. Les
                                            informations de contact resteront confidentielles, elles sont utiles
                                            pour faciliter le traitement de l’inscription de la structure sur la
                                            plateforme.</p>
                                    </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script>
    (function() {
        var placesAutocomplete = places({
            appId: 'plPUZ9YOW39T',
            apiKey: '8f93b988a893a3ec65c435d6f27fb32a',
            container: document.querySelector('#form-address'),
            templates: {
                value: function(suggestion) {
                    return suggestion.name;
                }
            }
        }).configure({
            type: 'address'
        });
        placesAutocomplete.on('change', function resultSelected(e) {
            document.querySelector('#form-city').value = e.suggestion.city || '';
            document.querySelector('#form-zipcode').value = e.suggestion.postcode || '';
        });
    })();
</script>

    {% endblock %}
